<nav class="topic-nav navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li><a routerLink="../trending" routerLinkActive="active"> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Trending</a></li>
      <li><a routerLink="../top" routerLinkActive="active"> <i class="fa fa-trophy" aria-hidden="true"></i> Top</a></li>
      <li><a routerLink="../new" routerLinkActive="active"> <i class="fa fa-external-link" aria-hidden="true"></i> New</a></li>
    </ul>
  </div>
</nav>
