<nav class="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav main-nav navbar-right">
                <li class="inline-nav-item"><a id="index-nav" href="{% url 'index' %}">Home</a></li>

                {% if not request.user.is_authenticated %}
                    <li class="inline-nav-item"><a id="login-nav" href="{% url 'login' %}">Login</a></li>
                    <li class="inline-nav-item"><a id="signup-nav" href="{% url 'signup' %}">Signup</a></li>
                {% else %}
                    <li class="inline-nav-item"><a id="logout-nav" href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
