<h2 class="page-header text-center">SIGNUP</h2>

<errors [(errors)]="errors"></errors>

<form (submit)="signup(); $event.preventDefault()">
  <div class="form-group">
    <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Username" name="username">
  </div>

  <div class="form-group">
    <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name" name="firstName">
  </div>

   <div class="form-group">
    <input type="text" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name" name="lastName">
  </div>

   <div class="form-group">
    <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="E-mail" name="email">
  </div>

  <div class="form-group">
    <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" name="password">
  </div>

   <div class="form-group">
    <input type="password" [(ngModel)]="user.passwordConfirmation" class="form-control" placeholder="Confirm your password" name="passwordConfirmation">
  </div>

  <div class="form-group">
    <input type="submit" [disabled]="loading" class="form-control" value="Signup">
  </div>
</form>
