<div *ngIf="topic">
  <h2 class="page-header text-center text-capitalize">Topic: {{ topic.name }} (trending)</h2>

  <topic-nav></topic-nav>

  <div class="paginated-list posts"
       infinite-scroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [immediateCheck]="true"
       (scrolled)="onScroll()">
    <div *ngFor="let post of elements" class="post col-md-3">
      {{ post.title }}

      <div class="image-holder">
        <img src="{{ post.image.uri }}" class="image">
      </div>

      Upvotes: {{ post.rating }}
    </div>
  </div>
</div>

